
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.logo, .hero-main, button, .call-box {
    color: #f9faf8;
}

a, .hero-secondary, .footer, .hero-logo {
    color: #c5c7cb;
}

.info-box, .quote{
    color: #7e7e7e;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0px 100px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    gap: 24px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

li a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px 100px 0px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.hero-section {
    width: 400px;
    flex: 1;
}

.hero-main {
    font-size: 36px;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    border: 0px;
    border-radius: 4px;
    padding: 4px 24px;
    font-weight: bold;
    flex-shrink: 1;
}

.sign-up-button-1 {
    margin-top: 16px;
}

.hero-logo {
    background-color: #75777b;
    flex-basis: 360px;
    flex-grow: 1;
    max-width: 360px;
    aspect-ratio: 2 / 1;
}

.hero-img {
    height: 100%;
    width: 100%;
    display: block;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.info-title {
    font-weight: bold;
    font-size: 24px;
}

.info-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px;
}

.info-box {
    display: flex;
    flex-direction: column;
    width: 124px;
}

.image-container {
    border: 2px solid blue;
    border-radius: 8px;
}

.info-img {
    border-radius: 8px;
    height: 120px;
    width: 120px;
    display: block;
}

.subtext {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
}

.quote {
    font-size: 24px;
    font-weight: 100;
}

.quoted-by {
    text-align: end;
    font-weight: bold;
}

.call-section{
    padding: 50px 100px;
}

.call-box{
    background-color: #3882f6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 60px;
    gap: 20px;
}

.call-main {
    font-size: 24px;
}

.sign-up-button-2 {
    border: 2px solid #f9faf8;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1f2937;
    font-size: 18px;
}
